<h1><%= t('yield_page1.h1_ex1') %> </h1>
<h2><%= t('yield_page1.h2_ex1') %> </h2>
<h3><%= t('yield_page1.h3_ex1') %> </h3>

<h1><%= t('yield_page1.h1_ex1') %> </h1>
<p><%= t('yield_page1.p_ex1') %> </p>

<h2><%= t('yield_page1.h1_ex1') %> </h2>
<p><%= t('yield_page1.p_ex1') %> </p>

<h3><%= t('yield_page1.h1_ex1') %> </h3>
<p><%= t('yield_page1.p_ex1') %> </p>

<h1><%= t('yield_page1.h1_ex1') %> </h1>
<p><%= t('yield_page1.p_ex2') %> </p>
<p><%= t('yield_page1.p_ex2') %> </p>
<p><%= t('yield_page1.p_ex2') %> </p>


<% @admined_page1s.each do |admined_page1| %>
  <h3><%= admined_page1.p1%></h3>
<% end %>
