<p id="notice"><%= notice %></p>

<div id="log_out_link_id">
  <%= link_to "Log out", log_out_path %>
</div>


<p>
  <b>P1:</b>
  <%= @admined_page1.p1 %>
</p>

<p>
  <b>P2:</b>
  <%= @admined_page1.p2 %>
</p>

<p>
  <b>P3:</b>
  <%= @admined_page1.p3 %>
</p>

<p>
  <b>Language:</b>
  <%= @admined_page1.language %>
</p>


<%= link_to 'Edit', edit_admined_page1_path(@admined_page1) %> |
<%= link_to 'Back', admined_page1s_path %>
