<!DOCTYPE html>
<html>

  <head>
    <title>PhoenixStr | <%= @title %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
    
  <body>
    <div id="header">
      <%= image_tag(@header_img , :alt => "Missing Header", :class => "header_img") %>
      <p>DR. Foreame Surname</br>Praxis für Frauenheilkunde & Geburtshilfe</p>
    </div> <!-- header -->
    
    <div id="centeredmenu">
      <ul>
        <li><a href="#">Tab one</a></li>
        <li><a href="#" class="active">Tab two</a></li>
        <li><a href="#">Tab three</a></li>
        <li><a href="#">Tab four</a></li>
        <li><a href="#">Tab four</a></li>
        <li><a href="#">Tab four</a></li>
        <li><a href="#">Tab four</a></li>
        <li><a href="#">Tab four</a></li>
        <li><a href="#">Tab four</a></li>
      </ul>
    </div> <!-- centeredmenu -->


    <div class="colmask leftmenu">
      <div class="colright">
        <div class="col1wrap">
          <div class="col1">
            <!-- Column 2 start -->
            <%= yield %>

          <!-- Column 2 end -->
          </div>
  
        </div> <!-- class="col1wrap" -->

        <div class="col2">
          <!-- Column 1 start -->
          <%= image_tag(@wallpaper_img , :alt => "Missing Wallpaper", :class => "wallpaper_img") %>
          <!-- Column 1 end -->

        </div> <!--  class="col2" -->
      </div> <!-- class="colright" -->
    </div> <!-- class="colmask leftmenu" -->

    <div id="thankYouNote">
      <p>Thankyou for visiting www.WebAddress.de/ Christina to expand text here</p>
    </div>
    <div id="footer">
      <p>DR. FIRST LAST NAME. Praxis für Frauenheilkunde &amp; Geburtshilfe :: Address, Phone, Fax</p>
    </div>

</body>
</html>
