<!DOCTYPE html>
<html>

  <head>
    <title>PhoenixStr. | <%= @title %></title>
    <%= favicon_link_tag @favicon_img %>
    <%= stylesheet_link_tag    "application", :media => "screen" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
    
  <body>

    <div id="headerPrint">
      <%= image_tag(@logo_img,  :alt => "Missing logo", :class => "logo_print_img") %>
      <p class="headerPrintText"> <%= @fullName   %> <br/>
          <%= @jobTitleP1 %> <br/> &amp
          <%= @jobTitleP2 %> <br/>
          <%= @address    %> <br/>
          <%= @phoneNum   %> <br/>
          <%= @faxNum     %>
      </p> 
      <p class="headerPrintText"><br/><br/><br/>Thankyou for visiting www.WebAddress.de/ </p>
    </div>
    
    <div id="header">
      <%= image_tag(@logo_img,   :alt => "Missing logo",   :class => "logo_img") %>
      <%= image_tag(@header_img, :alt => "Missing Header", :class => "header_img") %>
      <p> <%= @fullName   %> <br/>
          <%= @jobTitleP1 %> <br/> &amp
          <%= @jobTitleP2 %> </p>
    </div> <!-- header -->
    
    <div id="centeredmenu">
      <ul>
        <li><%= link_to "Page 1", page_page1_path %></li>
        <li><%= link_to "Page 2", page_page2_path %></li>
        <li><%= link_to "Page 3", page_page3_path %></li>
        <li><%= link_to "Page 4", page_page4_path %></li>
        <li><%= link_to "Page 4", page_page4_path %></li>
        <li><%= link_to "Page 4", page_page4_path %></li>
        <li><%= link_to "Page 4", page_page4_path %></li>
        <li><%= link_to "Page 4", page_page4_path %></li>
        <li><%= link_to "Page 4", page_page4_path %></li>
        <li><a href="/page/page1" class="active">Page 5</a></li>
      </ul>
    </div> <!-- centeredmenu -->


    <!-- ================================ -->
    <div class="colmask leftmenu">
      <div class="colleft">
        <div class="col1">
          <!-- Column 1 start -->
          <%= yield %>
          <!-- Column 1 end -->
        </div> <!-- class "col1" -->

        <div class="col2">
          <!-- Column 2 start -->
          <%= image_tag(@wallpaper_img, :alt => "Missing Header", :class => "wallpaper_img") %>
          <!-- Column 2 end -->
        </div> <!-- class = "col2" -->
      </div> <!-- class = "colleft" -->
    </div> <!-- class = "colmask leftmenu" -->





    <!-- ================================ --> 


    <div id="footer">
      <p> <%= @fullName   %>
          <%= @jobTitleP1 %> &amp
          <%= @jobTitleP2 %>
          <%= @address    %>
          <%= @phoneNum   %>
          <%= @faxNum     %>
      </p> 
    </div>

</body>
</html>
