<!DOCTYPE html>
<html>

  <head>
    <title>PhoenixStr. | <%= @title %></title>
    <%= favicon_link_tag @favicon_img %>
    <%= stylesheet_link_tag    "application", :media => "screen" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
    
  <body id="<%=@bodyID%>">

    <div id="headerPrint">
      <%= image_tag(@logo_img,  :alt => t('error_messages.err_msg01'), :class => "logo_print_img") %>
      <p class="headerPrintText"> <%= @full_name   %> <br/>
          <%= t('.job_title_p1') %> <br/> &amp
          <%= t('.job_title_p2') %> <br/>
          <%= @address        %> <br/>
          <%= @phone_number   %> <br/>
          <%= @fax_number     %>
      </p> 
      <p class="headerPrintText"><br/><br/><br/><%= t('.thankyou_msg') %> </p>
    </div>


    <div id="header">

      <%= image_tag(@logo_img,   :alt => t('error_messages.err_msg01'), :class => "logo_img") %>
      <%= image_tag(@header_img, :alt => t('error_messages.err_msg02'), :class => "header_img") %>
      <p> <%= @full_name    %> <br/>
          <%= t('.job_title_p1') %> <br/> &amp
          <%= t('.job_title_p2') %>
      </p>

      <div id="banner">
        <%= form_tag store_path, class: 'locale' do %>
          <%= select_tag 'set_locale',
            options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()' %>
          <%= submit_tag 'submit' %>
          <%= javascript_tag "$('.locale input').hide()" %>
        <% end %>
      </div>

    </div> <!-- header -->


<div id="centeredmenu">
   <ul>
      <li class = "page1"><a <%= link_to t('.tab1'), page_page1_path %></a></li>
      <li class = "page2"><a <%= link_to t('.tab2'), page_page2_path %></a></li>
      <li class = "page3"><a <%= link_to t('.tab3'), page_page3_path %></a></li>
      <li class = "page4"><a <%= link_to t('.tab4'), page_page4_path %></a></li>

   </ul>
</div>

    <!-- ================================ -->
    <div class="colmask leftmenu">
      <div class="colleft">
        <div class="col1">
          <!-- Column 1 start -->
          <!--<p>From DataBase == <%=  @para1 %> </p>-->
          <%= yield %>
          <!-- Column 1 end -->
        </div> <!-- class "col1" -->

        <div class="col2">
          <!-- Column 2 start -->
          <%= image_tag(@wallpaper_img, :alt => t('error_messages.err_msg03'), :class => "wallpaper_img") %>
          <!-- Column 2 end -->
        </div> <!-- class = "col2" -->
      </div> <!-- class = "colleft" -->
    </div> <!-- class = "colmask leftmenu" -->





    <!-- ================================ --> 


    <div id="footer">
      <p> <%= @full_name    %>
          <%= t('.job_title_p1') %> &amp
          <%= t('.job_title_p2') %>
          <%= @address      %>
          <%= @phone_number %>
          <%= @fax_number   %>
      </p> 
    </div>

</body>
</html>
