<!DOCTYPE html>
<html>

  <head>
    <title>PhoenixStr. | <%= @title %></title>
    <%= favicon_link_tag @favicon_img %>
    <%= stylesheet_link_tag    "application", :media => "screen" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
    
  <body id="<%=@bodyID%>">

    <div id="headerPrint">
      <%= image_tag(@logo_img,  :alt => "Missing logo", :class => "logo_print_img") %>
      <p class="headerPrintText"> <%= @fullName   %> <br/>
          <%= @jobTitleP1 %> <br/> &amp
          <%= @jobTitleP2 %> <br/>
          <%= @address    %> <br/>
          <%= @phoneNum   %> <br/>
          <%= @faxNum     %>
      </p> 
      <p class="headerPrintText"><br/><br/><br/>Thankyou for visiting www.WebAddress.de/ </p>
    </div>
    
    <div id="header">
      <%= image_tag(@logo_img,   :alt => "Missing logo",   :class => "logo_img") %>
      <%= image_tag(@header_img, :alt => "Missing Header", :class => "header_img") %>
      <p> <%= @fullName   %> <br/>
          <%= @jobTitleP1 %> <br/> &amp
          <%= @jobTitleP2 %> </p>
    </div> <!-- header -->
    
<div id="centeredmenu">
   <ul>
      <li class = "page1" ><a href="http://localhost:3000/page/page1">Tab one</a></li>
      <li class = "page2" ><a href="http://localhost:3000/page/page2">Tab two</a></li>
      <li class = "page3" ><a href="http://localhost:3000/page/page3">Tab three</a></li>
      <li class = "page4" ><a href="http://localhost:3000/page/page4">Tab four</a></li>
   </ul>
</div>

    <!-- ================================ -->
    <div class="colmask leftmenu">
      <div class="colleft">
        <div class="col1">
          <!-- Column 1 start -->
          <%= yield %>
          <!-- Column 1 end -->
        </div> <!-- class "col1" -->

        <div class="col2">
          <!-- Column 2 start -->
          <%= image_tag(@wallpaper_img, :alt => "Missing Header", :class => "wallpaper_img") %>
          <!-- Column 2 end -->
        </div> <!-- class = "col2" -->
      </div> <!-- class = "colleft" -->
    </div> <!-- class = "colmask leftmenu" -->





    <!-- ================================ --> 


    <div id="footer">
      <p> <%= @fullName   %>
          <%= @jobTitleP1 %> &amp
          <%= @jobTitleP2 %>
          <%= @address    %>
          <%= @phoneNum   %>
          <%= @faxNum     %>
      </p> 
    </div>

</body>
</html>
